<div id="img-<%= locals.id %>" class="row">
	<a href="<%= locals.viewURL %>">
		<div class="column">
			<div class="content">
				<div class="thumb"><img src="<%= locals.fileURL%>"
						alt="Image #<%= locals.pos + 1%> of <%= locals.title %> by <%= locals.artist.name %>"
						loading="eager"></div>
			</div>
		</div>
	</a>

</div>
